<p id="notice"><%= notice %></p>

<h1>Listing Text Memories</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_memories.each do |text_memory| %>
      <tr>
        <td><%= text_memory.text %></td>
        <td><%= text_memory.user %></td>
        <td><%= link_to 'Show', text_memory %></td>
        <td><%= link_to 'Edit', edit_text_memory_path(text_memory) %></td>
        <td><%= link_to 'Destroy', text_memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text memory', new_text_memory_path %>
